* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 300;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

header {
  background-color: #ff8882;
  margin: auto auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1,
h3,
h4 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: white;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 350px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: 4px;
  background: #98ddca;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}*/

.container body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  width: 100%;
  height: 100%;
}

.container {
  padding: 100px 100px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
  color: black;
}

.container input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgba(233, 217, 217, 0.055);
  font-weight: 300;
}

.container button {
  appearance: none;
  outline: 0;
  background-color: rgba(32, 32, 32, 0.781);
  border: 0;
  padding: 10px 15px;
  color: white;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}
.container .login_form {
  max-width: 400px;
  width: 100%;
  padding: 50px 25px;
  background-image: linear-gradient(45deg, #fff, #fff3);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 2px outset #fff;
  color: black;
  position: center;
  box-shadow: 0 2px 6px #0002, 0 5px 16px #0005;
}
.container .login_form .group {
  position: relative;
  margin-top: 30px;
}

.container .login_form .group input:valid + label,
.container .login_form .group input:focus + label {
  top: -14px;
  left: 0;
  color: black;
  font-size: 12px;
}

.container .login_form .group .icon {
  position: center;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  text-shadow: 0 0 1px #0007;
}

.container .login_form button {
  border: 2px outset #ffffff78;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 0 0 4px #fff2;
  margin: 20px 0;
  cursor: pointer;
  transition-property: transform;
  transition: 0.3s ease-in-out;
}

.container .login_form button button:hover {
  background: white;
}

.container .login_form button:active {
  transform: scale(0.95);
}
